* {
  margin: 0;
  color: #333;
}

body{
  background-color: #CCD6D8;
  
}

.links{
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

}

.navbar {
  font-size: 25px;
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color:darkmagenta;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color:#E684AE;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.about{
  text-align: center;
}

.locker{
  text-align: center;
}

.home{
text-align: center;
overflow-wrap: break-word;
word-wrap: break-word;
margin: 0 auto;
max-width: 50%;
padding: 12px;
}

h2{
  text-align: center;
}
h1{
  text-align: center;
}

.skins{
  text-align: center;
}

.shopimage{
  width: 500px;
}

.itemshoptext{
  text-align: center;
}

.App {
  text-align: center;
}

.news-wrapper {
  position: relative;
  width: auto;
  float: left;
  display: flex;
  justify-content: center;
  margin-left: 8%;
  padding: 2%;
  padding-top: 5vw;


}

.news-image {
  display: block;
  width: auto;
  height: 20vw;
}

.news-text {
  display: block;
  position: absolute;
  background: white;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: auto;
  background: rgba(255, 255, 255, 0.6);
  opacity: 0;
  transition: opacity 0.6s;
}

.news-wrapper:hover .news-text {
  opacity: 1;
}

.news-title{
font-weight: bold;
padding-top: 10vw;
}

.news-body{
  font-weight: bold;

}
